<section>
    <div class="text-white">
        <div class="lightSlider" data-item="1" data-controls="true" data-slide-margin="0" data-gallery="false" data-pause="8000" data-pauseonhover="true" data-auto="false" data-pager="false" data-loop="true">
            <div class="xv-slide" data-bg-possition="top" style="background-image:url('assets/img/cover.jpg');">
                <div class="has-bottom-gradient">
                    <div class="p-md-5 p-3">
                        <div class="row">
                            <div class="col-12 col-lg-6 fadeInRight animated">
                                <div class="xv-slider-content clearfix color-white has-sidebar">
                                    <h1 class="s-64 mt-5 font-weight-lighter">Вежбанка</h1>
                                    <p class="s-24 font-weight-lighter">за деца
                                    <div class="pt-3">
                                        <a href="#" class="btn btn-primary btn-lg">▶ Играј</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-gradient"></div>
            </div>
        </div>
    </div>
    <!--slider Wrap-->
</section>