<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative animatedParent animateOnce p-lg-5">
        <div class="card no-b shadow no-r">
            <div class="row no-gutters">
                <div class="col-md-4 b-r">
                    <div class="text-center p-5 mt-5">
                        <figure class="avatar avatar-xl">
                            <img src="assets/img/demo/u7.jpeg" alt=""></figure>
                        <div>
                            <h4 class="p-t-10">Alexander Pierce</h4>
                            alexander@paper.com
                        </div>
                        <a href="#" class="btn btn-outline-primary btn-sm  mt-3">Испрати мејл</a>
                        <!--div class="mt-5">
                            <ul class="social social list-inline">
                                <li class="list-inline-item"><a href="#" class="grey-text"><i class="icon-facebook"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class="grey-text"><i class="icon-youtube"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class="grey-text"><i class="icon-twitter"></i></a>
                                </li>
                            </ul>
                        </div-->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p5 b-b">
                        <div class="pl-4 mt-4">
                            <h5>Информации за креаторот</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-4">
                                    <h4>Е-пошта</h4>
                                    <span>user@vezbanka.mk</span>
                                </div>
                                <div class="p-4">
                                    <h4>Био</h4>
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo pariatur autem cum temporibus illo hic corporis molestiae, quidem culpa magnam fugiat, facere aliquid quibusdam nisi. Iusto libero cumque maxime saepe?</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="p-4">
                        <h4>Нови игри</h4>
                        <ul class="list-inline mt-3">
                            <li class="list-inline-item ">
                                <img src="assets/img/demo/u13.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u12.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u11.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u10.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u9.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u8.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item ">
                                <img src="assets/img/demo/u7.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u6.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u5.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u4.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u3.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                            <li class="list-inline-item">
                                <img src="assets/img/demo/u2.png" alt="" class="img-responsive w-40px circle mb-3">
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
    
    </main>