<main id="pageContent" class="page has-sidebar">
<div class="container-fluid relative animatedParent animateOnce p-0">
    <div class="animated">
        <section class="relative" data-bg-possition="center" style="background-image:url('assets/img/cover.jpg');">
            <div style="height: 100%">
                <div class="row pt-5 ml-lg-5 mr-lg-5">
                    <div class="col-md-10 offset-1">
                        <div class="row my-5 pt-5">
                            <div class="col-md-3">
                                <img [src]="game?.photo" alt="Game Photo">
                            </div>
                            <div class="col-md-9">
                                <div class="d-md-flex align-items-center justify-content-between">
                                    <h1 class="my-3 text-white">{{game?.name}}</h1>
                                    <div class="ml-auto mb-2">
                                        <span *ngIf="user && game">
                                            <a href="#" *ngIf="user.id === game.creator.id || isMod" [routerLink]="['/game/' + game.id + '/edit']" class="snackbar" data-text="Edit button clicked" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-edit s-24"></i></a>
                                            <a style="color: #ff1744; cursor: pointer;" *ngIf="user.id === game.creator.id || isMod" (click)="deleteGame()" class="snackbar ml-3" data-text="Delete button clicked" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-trash s-24"></i></a>
                                        </span>
                                        <a style="color: #ff1744; cursor: pointer;" (click)="heartGame(game?.id)" class="snackbar ml-3" data-text="You like this song" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-heart s-24"></i></a>
                                        <a style="color: #ff1744; cursor: pointer;" (click)="copyUrl()" class="snackbar ml-3" data-text="Thanks for sharing" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-share-1 s-24"></i></a>
                                    </div>
                                </div>

                                <div class="text-white my-2">
                                    <p>{{game?.shortDescription}}</p>
                                    <br>
                                    <p>Креирана од <a [routerLink]="['/profile/' + game?.creator?.id]">{{game?.creator?.username}}</a></p>
                                </div>
                                <div class="pt-3">
                                    <a class="btn btn-primary btn-lg" (click)="playGame()">Играј сега</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-gradient"></div>
        </section>
    </div>
</div>
</main>