<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative">
        <div class="animated p-md-5 p-3">
            <div class="row my-3" style="justify-content: center;">
                    <div class="col-12 col-xl-9">
                        <div class="card no-b" *ngIf="stage == 0">
                            <div class="card-body no-p">
                                <div class="tab-content">
                                    <div class="tab-pane fade text-center p-5" *ngFor="let question of questions" [id]="'w8-tab'+question.id" [class.show]="question.id == 1" [class.active]="question.id == 1" role="tabpanel" [aria-labelledby]="'w8-tab'+question.id">
                                        
                                        <section *ngIf="question.questionType == 0">
                                            <div class="header-bg" style="min-height: 20em; height: 20em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('{{question.photo}}');" (mouseenter)="bgEnter()" (mouseleave)="bgLeave()">
                                                <div *ngIf="bgButton" class="bgButtons">
                                                    <a class="btn btn-primary" *ngIf="!bgLinks" (click)="this.bgLinks = true;"><i class="icon-photo p-0"></i> Смени ја сликата</a>
                                                    <a class="btn btn-primary" *ngIf="bgLinks && !bgUrl" (click)="this.bgUrl = true; this.locked = true;"><i class="icon-link p-0"></i> Линк</a>
                                                    <input type="text" class="form-control" style="width: 50%;" *ngIf="bgUrl" [name]="'photo-question'+question.id" [(ngModel)]="this.question.photo" (keydown.enter)="this.locked = false; bgLeave();" (keydown.esc)="this.locked = false; bgLeave();" (focusout)="this.locked = false; bgLeave();" autofocus>
                                                    <div class="fileinputs" *ngIf="bgLinks && !bgUrl" (click)="this.locked = true">
                                                        <input type="file" class="file" accept=".png, .jpg, .jpeg" (change)="fileSelected($event, question)">
                                                        <div class="fakefile">
                                                        <a class="btn btn-primary"><i class="icon-upload p-0"></i> Прикачи </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="card-title">Прашање {{question.id}} <mat-slide-toggle [checked]="true" (click)="turnEditMode()"></mat-slide-toggle></h4>
                                                <p class="card-title" *ngIf="!editMode">{{question.content}}</p>
                                                <form class="form-material" novalidate>
                                                    <div class="body">
                                                        <div class="form-group form-float" *ngIf="editMode">
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" [name]="'question'+question.id" [(ngModel)]="this.question.content">
                                                                <label class="form-label" *ngIf="!question.content">Прашање</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="card-text" *ngIf="!editMode">
                                                    <p *ngFor="let answer of question?.answers">
                                                        {{answer.answer}}
                                                    </p>
                                                </div>
                                                <div *ngIf="editMode">
                                                    <form class="form-material" novalidate>
                                                        <div class="body">
                                                            <div class="form-group form-float" style="display: flex; justify-content: center;" *ngFor="let answer of question?.answers">
                                                                <div class="form-line" style="width: auto !important">
                                                                    <input type="text" class="form-control" [name]="'answer'+answer.id" [(ngModel)]="this.answer.answer">
                                                                    <label class="form-label" *ngIf="!answer?.answer">Одговор {{answer?.id}}</label>
                                                                </div>
                                                                <ul class="nav nav-pills nav-icon-pills mb-3">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link btn-fab mr-2" (click)="this.answer.isCorrect = true" [class.show]="this.answer.isCorrect" [class.active]="this.answer.isCorrect"><i class="icon-check p-0"></i></a>
                                                                        <a class="nav-link btn-fab mr-2" (click)="this.answer.isCorrect = false" [class.show]="!this.answer.isCorrect" [class.active]="!this.answer.isCorrect"><i class="icon-remove p-0"></i></a>
                                                                        <a class="nav-link btn-fab mr-2" (click)="deleteAnswer(answer, question.id)"><i class="icon-trash-o p-0"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <a class="btn btn-primary" style="margin: 0.5em;" *ngIf="this.questions[question.id-1]?.answers?.length <= 3" (click)="addAnswer(question)">Додај одговор</a>
                                                            <a class="btn btn-primary" *ngIf="this.questions[question.id-1]?.answers?.length > 3"  style="pointer-events: none; background-color: #86939E !important;" (click)="addAnswer(question)">Додај одговор</a>
                                                            <a class="btn btn-outline-primary" style="margin: 0.5em;" *ngIf="this.questions[question.id-1]?.answers?.length <= 1" (click)="changeQuestionType(question)">Смени го типот на прашањето</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </section>

                                            <section *ngIf="question.questionType == 1">
                                                <div class="header-bg" style="min-height: 20em; height: 20em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('{{question.photo}}');" (mouseenter)="bgEnter(); this.headerBgButton = true" (mouseleave)="bgLeave()">
                                                    <div *ngIf="bgButton && headerBgButton" class="bgButtons">
                                                        <a class="btn btn-primary" *ngIf="!bgLinks" (click)="this.bgLinks = true;"><i class="icon-photo p-0"></i> Смени ја сликата</a>
                                                        <a class="btn btn-primary" *ngIf="bgLinks && !bgUrl" (click)="this.bgUrl = true; this.locked = true;"><i class="icon-link p-0"></i> Линк</a>
                                                        <input type="text" class="form-control" style="width: 50%;" *ngIf="bgUrl" [name]="'photo-question'+question.id" [(ngModel)]="this.question.photo" (keydown.enter)="this.locked = false; bgLeave();" (keydown.esc)="this.locked = false; bgLeave();" (focusout)="this.locked = false; bgLeave();" autofocus>
                                                        <div class="fileinputs" *ngIf="bgLinks && !bgUrl" (click)="this.locked = true">
                                                            <input type="file" class="file" (click)="this.locked = true" [name]="'photo-header-q'+question.id" accept=".png, .jpg, .jpeg" (change)="fileSelected($event, question, 999, 0)">
                                                            <div class="fakefile">
                                                            <a class="btn btn-primary"><i class="icon-upload p-0"></i> Прикачи </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="card-title">Прашање {{question.id}} <mat-slide-toggle [checked]="true" (click)="turnEditMode()"></mat-slide-toggle></h4>
                                                <p class="card-title" *ngIf="!editMode">{{question.content}}</p>
                                                <form class="form-material" novalidate>
                                                    <div class="body">
                                                        <div class="form-group form-float" *ngIf="editMode">
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" [name]="'question'+question.id" [(ngModel)]="this.question.content">
                                                                <label class="form-label" *ngIf="!question.content">Прашање</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="d-flex justify-content-between" *ngFor="let answer of question?.mergingAnswers">
                                                    <div class="item" style="width: 40%; min-height: 20em; height: 20em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('{{answer?.photo1}}');" (mouseenter)="bgEnter(); answer.bgButton1 = true" (mouseleave)="bgLeave(answer);">
                                                        <div *ngIf="bgButton && answer.bgButton1" class="bgButtons">
                                                            <a class="btn btn-primary" *ngIf="!bgLinks" (click)="this.bgLinks = true;"><i class="icon-photo p-0"></i> Смени ја сликата</a>
                                                            <a class="btn btn-primary" *ngIf="bgLinks && !bgUrl" (click)="this.bgUrl = true; this.locked = true;"><i class="icon-link p-0"></i> Линк</a>
                                                            <input type="text" class="form-control" style="width: 50%;" *ngIf="bgUrl" [name]="'merging-question-answer'+answer.id" [(ngModel)]="this.answer.photo1" (keydown.enter)="this.locked = false; bgLeave();" (keydown.esc)="this.locked = false; bgLeave();" (focusout)="this.locked = false; bgLeave();" autofocus>
                                                            <div class="fileinputs" *ngIf="bgLinks && !bgUrl" (click)="this.locked = true">
                                                                <input type="file" class="file" (click)="this.locked = true" [name]="'fileInput1'+answer.id" accept=".png, .jpg, .jpeg" (change)="fileSelected($event, question, answer.id, 1)">
                                                                <div class="fakefile">
                                                                <a class="btn btn-primary"><i class="icon-upload p-0"></i> Прикачи </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item d-flex justify-content-center" style="align-items: flex-end; width: 10%; min-height: 15em; height: 15em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('../../../assets/img/icon/icon-right-arrow.png');">
                                                        <ul class="nav nav-pills nav-icon-pills">
                                                            <li class="nav-item">
                                                                <a class="nav-link btn-fab mr-2" (click)="deleteAnswer(answer, question.id)"><i class="icon-trash-o p-0"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="item" style="width: 40%; min-height: 20em; height: 20em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('{{answer?.photo2}}');" (mouseenter)="bgEnter(); answer.bgButton2 = true" (mouseleave)="bgLeave(answer);">
                                                        <div *ngIf="bgButton && answer.bgButton2" class="bgButtons">
                                                            <a class="btn btn-primary" *ngIf="!bgLinks" (click)="this.bgLinks = true;"><i class="icon-photo p-0"></i> Смени ја сликата</a>
                                                            <a class="btn btn-primary" *ngIf="bgLinks && !bgUrl" (click)="this.bgUrl = true; this.locked = true;"><i class="icon-link p-0"></i> Линк</a>
                                                            <input type="text" class="form-control" style="width: 50%;" *ngIf="bgUrl" [name]="'merging-question-answer'+answer.id" [(ngModel)]="this.answer.photo2" (keydown.enter)="this.locked = false; bgLeave();" (keydown.esc)="this.locked = false; bgLeave();" (focusout)="this.locked = false; bgLeave();" autofocus>
                                                            <div class="fileinputs" *ngIf="bgLinks && !bgUrl" (click)="this.locked = true">
                                                                <input type="file" class="file" (click)="this.locked = true" [name]="'fileInput2'+answer.id" accept=".png, .jpg, .jpeg" (change)="fileSelected($event, question, answer.id, 2)">
                                                                <div class="fakefile">
                                                                <a class="btn btn-primary"><i class="icon-upload p-0"></i> Прикачи </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn btn-primary" style="margin: 0.5em;" *ngIf="this.questions[question.id-1]?.mergingAnswers?.length <= 9" (click)="addAnswer(question)">Додај одговор</a>
                                                <a class="btn btn-primary" *ngIf="this.questions[question.id-1]?.mergingAnswers?.length > 9"  style="pointer-events: none; background-color: #86939E !important;" (click)="addAnswer(question)">Додај одговор</a>
                                                <a class="btn btn-outline-primary" style="margin: 0.5em;" *ngIf="this.questions[question.id-1]?.mergingAnswers?.length <= 1" (click)="changeQuestionType(question)">Смени го типот на прашањето</a>
                                            </section>

                                            <section *ngIf="question.questionType == 2">
                                                <h1>Селекција</h1>
                                                <h4 class="card-title">Прашање {{question.id}} <mat-slide-toggle [checked]="true" (click)="turnEditMode()"></mat-slide-toggle></h4>
                                                <p class="card-title" *ngIf="!editMode">{{question.content}}</p>
                                                <form class="form-material" novalidate>
                                                    <div class="body">
                                                        <div class="form-group form-float" *ngIf="editMode">
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" [name]="'question'+question.id" [(ngModel)]="this.question.content">
                                                                <label class="form-label" *ngIf="!question.content">Прашање</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <a class="btn btn-outline-primary" style="margin: 0.5em;" *ngIf="this.questions[question.id-1]?.answers?.length <= 1" (click)="changeQuestionType(question)">Смени го типот на прашањето</a>
                                            </section>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pb-0">
                                <div class="d-flex justify-content-between">
                                    <div class="align-self-center">
                                        <ul class="nav nav-pills nav-icon-pills mb-3" role="tablist">
                                            <li class="nav-item" *ngFor="let question of questions" style="padding: 0.5em 0;">
                                                <a class="nav-link btn-fab mr-2" *ngIf="!this.deleteQuestionMode" [id]="'w8--tab'+question.id" data-toggle="tab" [href]="'#w8-tab'+question.id" role="tab" [aria-controls]="'tab'+question.id" [class.show]="question.id == 1" [class.active]="question.id == 1" aria-expanded="true" aria-selected="true">
                                                    <i *ngIf="question.questionType == 0" class="icon-question p-0"></i>
                                                    <i *ngIf="question.questionType == 1" class="icon-image p-0"></i>
                                                    <i *ngIf="question.questionType == 2" class="icon-arrows p-0"></i>
                                                </a>
                                                <a class="nav-link btn-fab mr-2" *ngIf="this.deleteQuestionMode" (click)="deleteQuestion(question)"><i class="icon-trash-o p-0"></i></a>
                                            </li>
                                            <li class="nav-item" style="padding: 0.5em 0;">
                                                <a class="nav-link btn-fab mr-2" *ngIf="this.questions.length <= 9" (click)="addQuestion()"><i class="icon-add p-0"></i></a>
                                                <a class="nav-link btn-fab mr-2" *ngIf="this.questions.length > 9" style="pointer-events: none;" (click)="addQuestion()"><i class="icon-add p-0"></i></a>
                                                <a class="nav-link btn-fab mr-2" (click)="this.deleteQuestionMode = !this.deleteQuestionMode"><i class="icon-minus-1 p-0"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="nav nav-pills nav-icon-pills mb-3" style="float: right;">
                                        <li class="nav-item" style="padding: 0.5em 0;">
                                            <a class="nav-link btn-fab mr-2" *ngIf="this.questions.length > 2" (click)="nextStage()"><i class="icon-arrow-right p-0"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card no-b" *ngIf="stage == 1">
                            <div class="card-body no-p">
                                <div class="tab-content">
                                    <div class="tab-pane fade text-center p-5 show active">
                                        <div class="header-bg" style="min-height: 20em; height: 20em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('{{game?.photo}}');" (mouseenter)="bgEnter()" (mouseleave)="bgLeave()">
                                            <div *ngIf="bgButton" class="bgButtons">
                                                <a class="btn btn-primary" *ngIf="!bgLinks" (click)="this.bgLinks = true;"><i class="icon-photo p-0"></i> Смени ја сликата</a>
                                                <a class="btn btn-primary" *ngIf="bgLinks && !bgUrl" (click)="this.bgUrl = true; this.locked = true;"><i class="icon-link p-0"></i> Линк</a>
                                                <input type="text" class="form-control" style="width: 30%;" *ngIf="bgUrl" name="game-photo" [(ngModel)]="this.game.photo" (keydown.enter)="this.locked = false; bgLeave();" (keydown.esc)="this.locked = false; bgLeave();" (focusout)="this.locked = false; bgLeave();" autofocus>
                                                <div class="fileinputs" *ngIf="bgLinks && !bgUrl" (click)="this.locked = true">
                                                    <input type="file" class="file" accept=".png, .jpg, .jpeg" (change)="fileSelected($event, game)">
                                                    <div class="fakefile">
                                                      <a class="btn btn-primary"><i class="icon-upload p-0"></i> Прикачи </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="card-title"><i class="icon-edit p-0"></i> Информации за играта</h4>
                                            <form class="form-material" novalidate>
                                                <div class="body">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" [name]="'name'+game.id" [(ngModel)]="this.game.name">
                                                            <label class="form-label" *ngIf="!game.name">Име на играта *</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-float gamecheckbox">
                                                        <mat-checkbox *ngFor="let category of categories" (change)="addCategory($event, category)" style="padding: 0 2em;">
                                                            {{category.name}}
                                                        </mat-checkbox>
                                                    </div>
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <textarea type="text" maxlength="200" class="form-control" style="resize: none;" [name]="'desc'+game.id" [(ngModel)]="this.game.shortDescription"></textarea>
                                                            <label class="form-label" *ngIf="!game.shortDescription">Опис (до 200 карактери) *</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pb-0">
                                <div class="d-flex justify-content-between">
                                    <ul class="nav nav-pills nav-icon-pills mb-3" style="float: left;">
                                        <li class="nav-item" style="padding: 0.5em 0;">
                                            <a class="nav-link btn-fab mr-2" (click)="prevStage()"><i class="icon-arrow-left p-0"></i></a>
                                        </li>
                                    </ul>
                                    <div class="align-self-center">
                                        <ul class="nav nav-pills nav-icon-pills mb-3" role="tablist">
                                            <li class="nav-item" *ngFor="let question of questions" style="padding: 0.5em 0;">
                                                <a class="nav-link btn-fab mr-2" [id]="'w8--tab'+question.id">
                                                    <i *ngIf="question.questionType == 0" class="icon-question p-0" style="color: #86939E;"></i>
                                                    <i *ngIf="question.questionType == 1" class="icon-image p-0" style="color: #86939E;"></i>
                                                    <i *ngIf="question.questionType == 2" class="icon-arrows p-0" style="color: #86939E;"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="nav nav-pills nav-icon-pills mb-3" style="float: right;">
                                        <li class="nav-item" style="padding: 0.5em 0;">
                                            <a class="nav-link btn-fab mr-2" (click)="finishCreatingGame()"><i class="icon-send-o p-0"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>