<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li><a class="ajaxifyPage active" href="/">
                <i class="icon icon-sitemap s-24"></i> <span>Почетна</span>
            </a>
            </li>
            <li class="menu-item-has-children">
                <a href="#">
                    <i class="icon icon-dashboard s-24"></i> <span>Категории на игри</span>
                </a>
                <ul class="sub-menu">
                    <li *ngFor="let category of categories"><a [routerLink]="['/games/category/' + category.id]"><i class="icon icon-asterisk"></i>{{category.name}}</a></li>
                </ul>
            </li>
            <li><a class="ajaxifyPage" href="#" [routerLink]="['/games/topplayed']">
                <i class="icon icon-play-circle s-24"></i> <span>Најиграни игри</span>
            </a>
            </li>
            <li><a class="ajaxifyPage" href="#" [routerLink]="['/games/toprated']">
                <i class="icon icon-gamepad s-24"></i> <span>Најомилени игри</span>
            </a>
            </li>

            <li><a class="ajaxifyPage" href="#" [routerLink]="['/games/latest']">
                <i class="icon icon-tags s-24"></i> <span>Нови игри</span>
            </a>
            </li>
            <li *ngIf="!loggedIn"><a class="ajaxifyPage" href="#" [routerLink]="['/games/favorite']" style="cursor: not-allowed; text-decoration: none; opacity: 0.5;">
                <i class="icon icon-gittip s-24"></i> <span>Твои омилени игри</span>
            </a>
            </li>

            <li *ngIf="!loggedIn"><a class="ajaxifyPage" href="#" [routerLink]="['/games/create']" style="cursor: not-allowed; text-decoration: none; opacity: 0.5;">
                <i class="icon icon-wrench s-24"></i> <span>Креирај нова игра</span>
            </a>
            </li>
            <li *ngIf="loggedIn"><a class="ajaxifyPage" href="#" [routerLink]="['/games/favorite']">
                <i class="icon icon-gittip s-24"></i> <span>Твои омилени игри</span>
            </a>
            </li>

            <li *ngIf="loggedIn"><a class="ajaxifyPage" href="#" [routerLink]="['/games/create']">
                <i class="icon icon-wrench s-24"></i> <span>Креирај нова игра</span>
            </a>
            </li>
            <li *ngIf="isMod || isAdmin"><a class="ajaxifyPage" [routerLink]="['/category/create']">
                <i class="icon icon-delicious s-24"></i> <span>Креирај нова категорија</span>
            </a>
            </li>
            <li *ngIf="isMod || isAdmin"><a class="ajaxifyPage" [routerLink]="['/panel/mod']">
                <i class="icon icon-gears s-24"></i> <span>Панел за модерирање</span>
            </a>
            </li>
            <li *ngIf="isAdmin"><a class="ajaxifyPage" href="#" [routerLink]="['/panel/admin']">
                <i class="icon icon-eercast s-24"></i> <span>Панел за администрирање</span>
            </a>
            </li>
        </ul>

    </div>
</aside>