<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative animatedParent animateOnce no-p">
        <div class="animated">
            <!--Banner Slider-->
            <app-top></app-top>
            <!--@Banner Slider-->
            <div class="p-md-5 p-3  ">
                <!--Top Played-->
            <app-topplayed></app-topplayed>
                <!--@Top Played-->
                <!--Latest Games-->
            <app-latest></app-latest>
                <!--@Latest Games-->

                <!--Top Ranked-->
            <app-topranked></app-topranked>
                <!--@Top Ranked-->
    
            </div>
        </div>
    </div>
    </main>