<main>
    <div id="primary" class="p-t-b-50 height-full">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-md-auto">
                    <div style="display: flex; justify-content: center;">
                            <div class="col-md-7 card p-5" *ngIf="user && !changePasswordToggle">
                                <div class="d-flex relative align-items-center justify-content-between">
                                    <div class="mb-4">
                                      <h4>Промена на податоци</h4>
                                      <p>{{user.username}}</p>
                                    </div>
                                    <a style="color:#ff1744;" (click)="this.changePasswordToggle = !this.changePasswordToggle"
                                      >Промени лозинка<i class="icon-angle-right ml-3"></i
                                    ></a>
                                  </div>
                                <div class="header-bg" style="min-height: 10em; height: 10em; margin-bottom:2em; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('{{user.photo}}');" (mouseenter)="bgEnter()" (mouseleave)="bgLeave()">
                                    <div *ngIf="bgButton" class="bgButtons">
                                        <a class="btn btn-primary" *ngIf="!bgLinks" (click)="this.bgLinks = true;"><i class="icon-photo p-0"></i> Смени ја сликата</a>
                                        <a class="btn btn-primary" *ngIf="bgLinks && !bgUrl" (click)="this.bgUrl = true; this.locked = true;"><i class="icon-link p-0"></i> Линк</a>
                                        <input type="text" class="form-control" style="width: 50%;" *ngIf="bgUrl" name="game-photo" [(ngModel)]="this.user.photo" (keydown.enter)="this.locked = false; bgLeave();" (keydown.esc)="this.locked = false; bgLeave();" (focusout)="this.locked = false; bgLeave();" autofocus>
                                        <div class="fileinputs" *ngIf="bgLinks && !bgUrl" (click)="this.locked = true">
                                            <input type="file" class="file" accept=".png, .jpg, .jpeg" (change)="fileSelected($event)">
                                            <div class="fakefile">
                                                <a class="btn btn-primary"><i class="icon-upload p-0"></i> Прикачи </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-material" [formGroup]="editForm" novalidate>
                                    <div class="body">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" [(ngModel)]="this.user.firstName" formControlName="firstName">
                                                <label class="form-label" *ngIf="!this.user.firstName">Име *</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" [(ngModel)]="this.user.lastName" formControlName="lastName">
                                                <label class="form-label" *ngIf="!this.user.lastName">Презиме</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" disabled value="{{this.user.username}}" style="background-color: whitesmoke;">
                                                <label class="form-label" *ngIf="!this.user.username">Корисничко име *</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" [(ngModel)]="this.user.email" formControlName="email">
                                                <label class="form-label" *ngIf="!this.user.email">Е-пошта *</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <textarea type="text" maxlength="200" class="form-control" style="resize: none;" [(ngModel)]="this.user.biography" formControlName="biography"></textarea>
                                                <label class="form-label" *ngIf="!this.user.biography">Био (до 200 карактери) *</label>
                                            </div>
                                        </div>

                                        <input type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4" value="Измени профил" (click)="finishEditing()"><br><br>
                                        <small style="padding: 3em 0 0 0; white-space: nowrap;"><a *ngIf="error" href="#" style="pointer-events: none !important;">Невалидни податоци!</a></small>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-7 card p-5" *ngIf="user && changePasswordToggle">
                                <div class="d-flex relative align-items-center justify-content-between">
                                    <div class="mb-4">
                                      <h4>Промена на лозинка</h4>
                                      <p>{{user.username}}</p>
                                    </div>
                                    <a style="color:#ff1744;" (click)="this.changePasswordToggle = !this.changePasswordToggle"
                                      >Промени други податоци<i class="icon-angle-right ml-3"></i
                                    ></a>
                                  </div>
                                <form class="form-material" [formGroup]="passForm" novalidate>
                                <div class="form-group form-float">
                                    <div class="body">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" class="form-control" [(ngModel)]="this.newPassword" formControlName="newPassword">
                                                <label class="form-label" *ngIf="!this.newPassword">Нова лозинка *</label>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" class="form-control" [(ngModel)]="this.retypePassword" formControlName="retypePassword">
                                                <label class="form-label" *ngIf="!this.retypePassword">Повтори лозинка *</label>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4" value="Измени лозинка" (click)="finishChangePassword()"><br><br>
                                        <small style="padding: 3em 0 0 0; white-space: nowrap;"><a *ngIf="error" href="#" style="pointer-events: none !important;">Лозинките не се совпаѓаат!</a></small>
                                    </div>
                                </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>